@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --purple: #8854c0;
    --white: #fff;
    --black: #000;
    --grey: #f2f2f2;
    --transition: all .3s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--grey);
    color: var(--black);
    min-height: 100vh;
}

// Start
.start {
    form {

        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--white);
        padding: 4rem;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        width: 500px;

        select {
            font-size: 1rem;
            padding: 10px 20px;
            background-color: var(--purple);
            color: var(--white);
            border-radius: .5rem;
            outline: 0;
        }

        button {
            border: none;
            border-radius: .5rem;
            outline: 0;
            font-size: 1.2rem;
            font-weight: 600;
            padding: .5rem 1rem;
            margin: 25px auto 0;
            text-transform: uppercase;
            cursor: pointer;
            display: block;
            background-color: var(--grey);
            color: var(--black);
            letter-spacing: 2;
            transition: var(--transition);
            box-shadow: 0 4px 0 0 #bbb;


            &:hover {
                background-color: #e6e6e6;
                box-shadow: 0 4px 0 0 #a7a7a7;
            }

            &:active {
                transform: scale(.97);
            }
        }
    }
}

// Wrapper
.wrapper {
    display: none;
    background-color: var(--white);
    padding: 4rem;
    line-height: 3;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    width: 600px;
    // height: 680px;
    position: relative;

    .correctAnswer {
        display: none;
        h2{
            text-align: center;
            font-size: 2rem;
            color: var(--purple);
        }
        ul {

            list-style: none;

            li {
                background-color: var(--purple);
                margin: 15px 0;
                border-radius: 10px;
                padding: 0 15px;
                color: var(--white);
                font-weight: 500;
                cursor: pointer;
                transition: var(--transition);
                border: 3px solid var(--purple);
                box-shadow: 0 4px 0 0 #6c4298;
                counter-increment: li;

                &::before {
                    content: '-'counter(li);
                    padding-left: 20px;
                    color: var(--white);
                    display: inline-block;
                    width: 1em;
                    margin-left: -1.5em;
                    margin-right: 0.5em;
                    text-align: right;
                    direction: rtl;
                }
            }
        }
    }

    .container {
        .head {
            text-align: center;
            line-height: 2;

            .title {
                font-size: 2rem;
            }

            .quiz-score {
                color: var(--purple);
                border: 1px solid var(--grey);
                display: inline-block;
                padding: 5px 20px;
                font-weight: 700;
            }
        }

        .body {
            .questions {
                text-align: center;
                font-size: 1.2rem;
                line-height: 2;

                .category {
                    font-size: .9rem;
                    font-weight: 500;
                    background-color: var(--purple);
                    color: var(--white);
                    padding: .2rem .4rem;
                    border-radius: 5px;
                }
            }

            .countdown {
                line-height: 2;
                text-align: center;
                font-weight: 600;
                color: var(--purple);
                font-size: 1.4rem;
            }

            .options {
                list-style: none;

                li {
                    background-color: var(--purple);
                    margin: 15px 0;
                    border-radius: 10px;
                    padding: 0 15px;
                    color: var(--white);
                    font-weight: 500;
                    cursor: pointer;
                    transition: var(--transition);
                    border: 3px solid var(--purple);
                    box-shadow: 0 4px 0 0 #6c4298;

                    &:hover {
                        background-color: var(--grey);
                        color: var(--black);
                        border-color: var(--grey);
                        box-shadow: 0 4px 0 0 #bbb;
                    }

                    &:active {
                        transform: scale(.97);
                    }
                }

                .selected {
                    background-color: var(--grey);
                    color: var(--black);
                    border-color: var(--grey);
                    box-shadow: 0 4px 0 0 #bbb;
                }
            }
        }
    }
}
.footer {
    button {
        border: none;
        border-radius: .5rem;
        outline: 0;
        font-size: 1.2rem;
        font-weight: 600;
        padding: .5rem 1rem;
        margin: 0 auto;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        background-color: var(--grey);
        color: var(--black);
        letter-spacing: 2;
        transition: var(--transition);
        box-shadow: 0 4px 0 0 #bbb;

        &:hover {
            background-color: #e6e6e6;
            box-shadow: 0 4px 0 0 #a7a7a7;
        }

        &:active {
            transform: scale(.97);
        }
    }

}
#again {
    display: none;
}

#result {
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2;

    i {
        width: 30px;
        height: 30px;
        color: var(--purple);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.6rem;
    }

    .wrapper {
        width: 90%;
        padding: 1.5rem 1rem 3rem;
    }

    .footer {
        button {
            font-size: 1rem !important;
        }
    }
}